<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Conta</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/config.css">
</head>
<body>

    <div id="spin" class="spinner-border text-danger" style="display: block;"></div>

    <form>

        <label for="img" class="labelImg"></label>
        <input type="file" name="img" id="img">

        <div id="info">

            <label for="name">Nome: </label>
            <input type="text" name="name" id="name" value="srgsr" required>
    
            <label for="lastName">Sobrenome: </label>
            <input type="text" name="lastName" id="lastName" value="srgrs" required>
    
            <label for="user">Usuário: </label>
            <input type="text" name="user" id="user" value="srgrs" required>
    
            <label for="phone">Número: </label>
            <input type="tel" name="phone" id="phone" value="999543869">
    
            <label>Email: </label>
            <p id="email">erickmesqyuta322@gmail.com</p>

        </div>

        <button class="btn btn-success btn-save">Salvar</button>
        <a href="/rooms" class="btn btn-secondary btn-rooms">Salas</a>

    </form>

</body>
</html>