<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

    <img src="img/logo.png" alt="" class="logo">

    <form class="form">

        <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
        <input class="form-control" type="password" name="pwd" id="pwd" placeholder="Senha" required>

        <button class="btn btn-primary" type="submit">Entrar</button>
        <a class="btn btn-success" href="/sign">Criar Conta</a>
        <a href="/recover-account">Esqueci a senha</a>

    </form>
    
</body>
</html>