<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Nova Sala</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/newRoom.css">

</head>
<body>

    <form action="/new-room" method="post" id="form" enctype="multipart/form-data">

        <img src="img/white.png" id="img" class="m-auto" onclick="clickLabel()">
        
        <input class="d-none" type="file" name="inputImage" id="inputImage">

        <input class="form-control mt-4" type="text" name="name" id="name" placeholder="Nome" onchange="resetBorder('name')" autocomplete="off">

        <div id="requirePwd" class="m-3">

            <label for="inputPwd" class="m-0 mr-1">Senha: </label>
            <input type="checkbox" name="inputPwd" id="inputPwd" onclick="changeStatusPwd()" checked>

        </div>



        <div id="boardPwd">
            <input class="form-control" type="password" name="pwd" id="pwd" placeholder="Senha" onchange="resetBorder('pwd')">
            <input class="form-control mt-2" type="password" name="confirmPwd" id="confirmPwd" placeholder="Confirme a senha" onchange="resetBorder('pwd')">

        </div>


        <button type="button" class="btn btn-primary mt-4" onclick="validate()">Criar</button>

    </form>


    <script src="js/newRoom.js"></script>
</body>
</html>