<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suas salas</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/rooms.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <img src="img/logo.png" alt="" class="logo">
    
    <ul>

        <% if(rooms.length == 0){ %>
            
            <h4>Nenhuma sala encontrada</h4>

        <% } else { %>

        <% let i = 0 %>

            <% for(room of rooms){ %>
                <li onclick="redirectRoom('<%=room._id%>')">

                    <img src="data:image/<%= imgs[i].img.contentType %>;base64, <%= imgs[i].img.data.toString('base64') %>" alt="" class="imgRoom">
                    <h3> <%= room.name %> </h3>

                </li>

                <% i++ %>
            <% } %> 
        <% } %>
    </ul>


    <article>

        <a href="/new-room" class="btn btn-primary">Criar Sala</a>

    </article>

    <script src="js/rooms.js"></script>
</body>
</html>