
form{
    width: 400px;
    margin: auto;
}


#inputImg{
    display: none;
}

#back{
    position: absolute;
}
.labelImg{
    margin: 30px auto;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(221, 221, 221);
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

ul{
    list-style: none;
    max-height: 100px;
    overflow: scroll;
}

span{
    cursor: pointer;
}