body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    min-height: 80vh;
}


.logo{
    width: 200px;
    margin-bottom: 50px;
}

.form{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;

    position: relative;
}

a{
    text-align: center;
}

#iconEmail{
    position: absolute;
    top: 2.5px;
    right: 0px;

    color: red;
    padding:  5px;
}
#msnEmail{
    font-size: 14px;
    padding: 3px 5px;
    background-color: rgb(235, 154, 154);
    border-radius: 3px 3px 0 3px;
    
    position: absolute;
    top: -20px;
    right: 25px;

    display: none;
    cursor: pointer;
}


@media screen and (max-width: 600px) {

    .logo{
        width: 130px;
        margin-bottom: 30px;
    }

    .form{
        width: 350px;
        gap: 20px 0;
    }
    .btn{
        padding: 3px;
    }
}
@media screen and (max-width: 600px) {

    .logo{
        width: 130px;
        margin-bottom: 40px;
    }

    .form{
        width: 340px;
    }
}