body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    min-height: 90vh;
}

.logo{
    width: 160px;
    margin-bottom: 10px;
}

form{
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.info{
    display: grid;
    grid-template: .3fr 1fr / 1fr 1fr;
    gap: 0 20px;
}

label{
    font-size: 14px;
    margin: 2px 5px;
}
input{
    margin-bottom: 5px;
}

.button{
    margin: 20px 0 10px 0;
}

#iconEmail{
    cursor: pointer;
    position: absolute;
    top: 95px;
    right: 0px;

    color: red;
    padding:  5px;
}
#msnEmail{
    font-size: 14px;
    padding: 3px 5px;
    background-color: rgb(235, 154, 154);
    border-radius: 3px 3px 0 3px;
    
    position: absolute;
    top: 70px;
    right: 25px;

    display: none;
}


@media screen and (max-width: 620px) {
    
    .info{
        display: grid;
        grid-template: .4fr 1fr .4fr 1fr / 1fr;
        gap: 0 20px;
    }

    #labelPhone{
        position: relative;
        top: 55px;
    }
    #user{
        position: relative;
        bottom: 40px;
    }

    .logo{
        width: 130px;
    }
    
    form{
        width: 400px;
    }
    #iconEmail{
        top: 180px;
    }
    #msnEmail{
        top: 160px;
    }
}


@media screen and (max-width: 400px) {
    
    form{
        width: 340px;
    }

    #iconEmail{
        top: 180px;
    }
    #msnEmail{
        top: 160px;
    }
}